<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}TaskBoxx{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="top-menu">
                <div id="account">
                    {% if app.user %}
                        <ul>
                            <li><a class="my-account" href="{{ path('taskboxx_account_show') }}">My account</a></li>
                            <li><a class="logout" href="{{ path('taskboxx_logout') }}">Sign out</a></li>
                        </ul>
                    {% endif %}
                </div>
                
                {% if app.user %}
                    <div id="loggedas">
                        Logged in as <a href="">{{ app.user.username }}</a>
                    </div>
                {% endif %}

            </div>
            <div id="header">
                <h1>
                    TaskBoxx
                </h1>
                <div id="main-menu">
                    <ul>
                        <li><a class="overview {{ app.request.attributes.get('_route') == 'homepage' ? 'selected' : '' }}" href="{{ path('homepage') }}">Board</a></li>
                        <li><a class="activity" href="{{ path('taskboxx_activity_index') }}">Activity</a></li>
                        <li><a class="roadmap" href="{{ path('taskboxx_statistic_index') }}">Statistic</a></li>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('taskboxx_admin_index') }}">Administration</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div id="main" {% block sidebarclass %} {% endblock %} >
                <div id="sidebar">{% block sidebar %}{% endblock %}</div>
                <div id="content">
                    {% block contextual %}{% endblock %}
                    <?php endif; ?>
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div id="footer">
                Powered by <a href="https://github.com/thaberkern/TaskBoxx" target="_blank">TaskBoxx</a> V.0.1.0
            </div>
        </div>

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
