{% extends 'TaskBoxxFrontendBundle::layout.html.twig' %}

{% block projectname %}{{ project ? '- ' ~ project.name : '' }}{% endblock %}
    
{% block mainmenu %}
    {% if (project) %}
        {% include 'TaskBoxxFrontendBundle::mainmenu.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
<h2>{% trans %}Roadmap{% endtrans %}</h2>
<div id="roadmap">
    {% for version in project.versions %}
        <a name="{{ version.name }}"> </a>
        <h3 class="icon icon-package">{{ version.name }}</h3>
        <p>
            ({{ version.dueTo | date('d.m.Y') }} )
        </p>
        <table class="progress" style="width:40em">
            <tbody>
                <tr>
                    <td class="closed" style="width: 40%;" />
                    <td class="todo" style="width: 60%;" />
                </tr>
            </tbody>
        </table>
        <p class="progress-info">
            {% trans with {'%open%': 2, '%open_percent%': 40, '%closed%': 3, '%closed_percent%': 60} from "app" %}
            %closed% closed (%closed_percent%\%), %open% open (%open_percent%\%)
            {% endtrans %}
        </p>
        <fieldset class="related-issues">
            <legend>{% trans %}Related tasks{% endtrans %}</legend>
            <ul>
                
            </ul>
        </fieldset>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <h3>{% trans %}Filter{% endtrans %}</h3>
    <h3>{% trans %}Version(s){% endtrans %}</h3>
    {% for version in project.versions %}
        <a href="#{{ version.name }}">{{ version.name }}</a><br/>
    {% endfor %}
{% endblock %}